<div class="confetti_left_blog"></div>
<div class="confetti_right_blog"></div>
<div data-page-type="article">
    <div class="content_block _article">
        <div class="title article">
             
    <!--Выше выведены динамичные хлебные крошки, но пока они не подключены внизу верстка статичных, которые необходимо удалить после подключения динамичных ХК -->
        <div class="article_breadcr">
            {{ this.render('//components/generic/breadcrump.twig', {'count':count, 'seo':seo}) | raw }}
        </div>    
            <h1>Документы для получения налогового вычета при покупке квартиры</h1>
            <p class="article_date">23 марта 2019</p>
        </div> 
    </div>

    <div  data-page-type="article_all">
        <div class="article_conteiner_img">
            <img src="/images/article/image_article.png">
        </div>
        <div class="article_text">
            <p class="article_descript">Вопрос приобретения жилья всегда волнительный, будь это ипотека на несколько лет или единовременная оплата. Наше правительство стремится облегчить населению этот накладный процесс, возвратив часть денег за новое недвижимое имущество. Однако есть определенные ограничения. Чтобы принимать помощь государства следует внимательно изучить его законы. В этой статье мы поможем узнать, кто и в каком случае может принять участие в этой программе, куда следует обратиться и какие потребуются документы.</p>
            <h2>За счет чего происходит возврат средств</h2>
            <p>Государственный проект подразумевает именно реверсию денег, которые уже были внесены налогоплательщиком. Проще говоря, участнику программы будут отданы те средства, которые он за последние 3 года отчислял с каждой заработной платы. Срок подачи заявления о возврате определен фактом, что справка из налоговой службы 2-НДФЛ будет действовать только в течение трех лет.</p>
            <p>Если вы находитесь в браке, и намерены улучшить жилищные условия, а свое право на выплату уже реализовали, то хотим вас порадовать: имущество у вас общее, а вот возможность вернуть деньги разная. Если оба супруга являются налогоплательщиками, то реализовать льготу на возврат тринадцати процентов может каждый из них.</p>
            <h3>С 1 января 2014 года в закон входят новые поправки</h3>
            <p class="padPadd">Если результат имущ. вычета за приобретенную недвижимость был меньше разрешенных 2 млн. рублей, участник программы может повторно подать заявление на выплату денег при покупке второго жилого помещения. Второй раз он получит оставшиеся с 2 миллионов средства. Совокупная сумма льготы в этом случае все равно будет не более 260 тыс. рублей. Однако если покупка была произведена до 1 января 2014 года, то такая выплата может быть реализована лишь однажды. И не важно, заберет ли покупатель все положенные 260 тысяч или нет.</p>
            <div class="advertising_article">
               <!-- Тут должен выводиться блок с одной карточкой с залами. -->
               <div class="item-block" id="{{i}}"> 

    <div class="carusel">
        <div class="buttons">
          <div class="but_prev" onclick="PrevImg({{i}},-1)">
           
          </div>
          <div class="but_next" onclick="nextPrev({{i}},1)">
        </div>
        </div>

    <div class="img_conteiner">
        <div class="price-position">        
            <div class="price">
                            <div class="item_meta_item">
                                <span class="item_meta_text">от <span class="rur">12 000<span class="norur">руб.</span></span>/чел.</span>
                            </div>
                            <div class="vector_price">
                            </div>
         </div>
        </div>
    <a href="/catalog/{{item.id}}/" class="item-img">
                 <img src="/images/article/listing_card_photo.png" class="block tab" loading="lazy" alt="{{img_alt | replace({"**room**" : item.name}) | replace({"**restaurant**" : item.restaurant_name}) | replace({"**room_name**" : item.name}) }}"/>     
    </a>
    </div> 
    </div>
    <div class="item-info">
         <div class="name">
         <p class="item_name">Банкетный комплекс Vnukovo Village Park Hotel & Spa 4*</p>
        </div>

        <div class="address">
                    <a href="#"><p class="item_address">Москва, м. Саларьево, ул. Киевская, д. 4</p></a>
        </div>

        <div class="capacity">
                        <div class="item_meta_item">
                            <span class="item_meta_label">Вместимость: </span><span class="item_meta_text">300 человек</span>
                        </div>
         </div>


         <div class="restaurant_parking">              
                        <div class="item_meta_item">
                            <span class="item_meta_label">Парковка: </span><span class="item_meta_text">на 30 машин</span>
                        </div>
         </div>

         <div class="restaurant_own_alcohol">
                        <div class="item_meta_item">
                            <span class="item_meta_label">Свой алкоголь: </span><span class="item_meta_text">да</span>
                        </div>
         </div>
         <button type="button" class="_button">Подробнее о зале</button>
    </div>
</div>
            </div>
            <h2>Куда подавать необходимые документы для получения налогового вычета при покупке квартиры</h2>
            <ul>
                <li>Внешний вид своего жилья или начинает строительство дома. Выйти на этот уровень легко, естественно и без лишних затрат помогут услуги дизайнеров студии Artek — команды креативных специалистов с большим опытом работы в этой области.</li>
                <li>Проект, составленный специалистом и успешно реализованный на практике — залог стиля и привлекательности помещений.</li>
                <li>Нестандартное цветовое решение, современный изысканный стиль, роскошные предметы мебели и света.</li>
            </ul>
            <p>Размер имущ. вычета на процент по ссуде/ипотеке составляет 3 миллиона. Но формула расчета денег остается прежней – умножаем наши проценты по кредиту на налоговую ставку НДФЛ. 3 000 000 * 0,13 = 390 000 рублей.</p>
            <h3>Как рассчитать сумму выплаты</h3>
            <p>Если результат имущ. вычета за приобретенную недвижимость был меньше разрешенных 2 млн. рублей, участник программы может повторно подать заявление на выплату денег при покупке второго жилого помещения. Второй раз он получит оставшиеся с 2 миллионов средства. Совокупная сумма льготы в этом случае все равно будет не более 260 тыс. рублей. Однако если покупка была произведена до 1 января 2014 года, то такая выплата может быть реализована лишь однажды. И не важно, заберет ли покупатель все положенные 260 тысяч или нет.</p>
            <ol>
                <li>Внешний вид своего жилья или начинает строительство дома. Выйти на этот уровень легко, естественно и без лишних затрат помогут услуги дизайнеров студии Artek — команды креативных специалистов с большим опытом работы в этой области.
</li>
                <li>Проект, составленный специалистом и успешно реализованный на практике — залог стиля и привлекательности помещений.</li>
                <li>Нестандартное цветовое решение, современный изысканный стиль, роскошные предметы мебели и света.</li>
                <li>Хозяева таунхауса молодые, успешные и целеустремленные люди.</li>
            </ol>
            <p>Если результат имущ. вычета за приобретенную недвижимость был меньше разрешенных 2 млн. рублей, участник программы может повторно подать заявление на выплату денег при покупке второго жилого помещения. Второй раз он получит оставшиеся с 2 миллионов средства. Совокупная сумма льготы в этом случае все равно будет не более 260 тыс. рублей. Однако если покупка была произведена до 1 января 2014 года, то такая выплата может быть реализована лишь однажды. И не важно, заберет ли покупатель все.</p>
            <p class="border_article">Любое строение, в котором предусмотрено проживание и прописка: квартира, комната в общежитии или коммунальной квартире, частный дом и т.п. Новое помещение должно предназначаться для проживания, а не для других целей. Проще говоря, если квартира переоборудована под магазин или офис, имущ. вычет не предусмотрен.</p>
            <h4>Как рассчитать сумму выплаты</h4>
            <p>Сумма вычета за покупку недвижимости. Стоимость недвижимости мы умножаем на 13%, результат – деньги, которые вам должны выплатить. Здесь есть только одно ограничение, цена покупки не должна превышать 2 миллионов. Если она больше этой цифры, то умножать на 0,13 мы все же будем 2 000 000. В результате, сумма выплаты покупателю не будет превосходить 260 000 рублей.</p>
            <p>Если вы находитесь в браке, и намерены улучшить жилищные условия, а свое право на выплату уже реализовали, то хотим вас порадовать: имущество у вас общее, а вот возможность вернуть деньги разная. Если оба супруга являются налогоплательщиками, то реализовать льготу на возврат тринадцати процентов может каждый из них.</p>


            <!-- Верстка статичного слайдера, в данном виде не работает, заменить на динамичный слайдер - начало -->
          <div class="content_block article_gl">
            <div class="object_gallery article_gl" data-gallery data-id="{{item.id}}">
                <div class="swiper-container item_top_slider">
                    <div class="swiper-wrapper">
                        
                            <div class="swiper-slide">
                                <a href="/images/article/galery_foto.png" data-lightbox="top_slider"><img src="/images/article/galery_foto.png" alt="Фото №{{loop.index}} зала {{item.name}}"/></a>
                            </div>
                    </div>
                </div>
                <div class="swiper-container item_thumb_slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide object_thumb article_gl">
                                <img src="/images/article/small_photo.png" alt="Фото №{{loop.index}} зала {{item.name}}"/>
                            </div>
                            <div class="swiper-slide object_thumb article_gl">
                                <img src="/images/article/small_photo1.png" alt="Фото №{{loop.index}} зала {{item.name}}"/>
                            </div>    
                    </div>
                </div>
            </div>
            </div>
            <!-- Верстка статичного слайдера, в данном виде не работает, заменить на динамичный слайдер - конец -->
            <div class="quote_line"></div>
            <div class="text_underline">Поместье находится в окружении живописной природы, вдали от городского шума и суеты</div>
            <p>Сумма вычета за покупку недвижимости. Стоимость недвижимости мы умножаем на 13%, результат – деньги, которые вам должны выплатить. Здесь есть только одно ограничение, цена покупки не должна превышать 2 миллионов. Если она больше этой цифры, то умножать на 0,13 мы все же будем 2 000 000. В результате, сумма выплаты покупателю не будет превосходить 260 000 рублей.</p>
            <p>Если вы находитесь в браке, и намерены улучшить жилищные условия, а свое право на выплату уже реализовали, то хотим вас порадовать: имущество у вас общее, а вот возможность вернуть деньги разная. Если оба супруга являются налогоплательщиками, то реализовать льготу на возврат тринадцати процентов может каждый из них.</p>
            <div class="img_flex">
                <img src="/images/article/galery_foto.png">
                <img src="/images/article/foto_pustoe.png">
            </div>
            <p>Если результат имущ. вычета за приобретенную недвижимость был меньше разрешенных 2 млн. рублей, участник программы может повторно подать заявление на выплату денег при покупке второго жилого помещения. Второй раз он получит оставшиеся с 2 миллионов средства. Совокупная сумма льготы в этом случае все равно будет не более 260 тыс. рублей. Однако если покупка была произведена до 1 января 2014 года, то такая выплата может быть реализована лишь однажды. И не важно, заберет ли покупатель все положенные 260 тысяч или нет.</p>
        </div>
    </div>
    <div class="content_block art_intrest">
    <div class="recomend_intresting">
        <h4>Возможно будет интересно</h4>
        <div class="intresting_articles">
            <div class="article_contein_recomend">
                <img src="/images/blog/blog_card_photo.png">
                <a href="#">Познакомьтесь с людьми, которые вложили деньги в «Кэшбери»</a>
            </div>
             <div class="article_contein_recomend">
                <img src="/images/blog/blog_card_photo_2.png">
                <a href="#">Сколько стоит отдохнуть в Грузии</a>
            </div>
             <div class="article_contein_recomend">
                <img src="/images/blog/blog_card_photo_3.png">
                <a href="#">Хочу купить билет на чартерный рейс. Можно ли это сделать самостоятельно?</a>
            </div>
        </div>
    </div>
    </div>

</div>