<div class="disco_ball"></div>
<div class="confetti_top_right"></div>

<div data-page-type="index">

	<div class="content_block index_page">

		<div class="title index">

			<h1>{{seo.h1}}</h1>

		</div>

		<div class="tags">

			{% for slice in slices_for_tag %}

				<a href="/catalog/{{slice.alias}}/" class="tag">
					<p>{{slice.text}}</p>
					<p class="num">{{slice.count}}</p>
				</a>

			{% endfor %}

		</div>

		<div class="filter_mobile_wrapper index_form">

			<div class="filter_mobile_button _button" data-filter-open><span class="filter_before">Фильтр заведений</span></div>

		</div>
		
	</div>

	<div class="content_block forFilter not_margin_bot">{{filter | raw }}</div>

	<div class="content_block _all_often">

		<div class="often_searched">

			<h2>Чаще всего ищут эти&nbsp;места</h2>

			<div class="all_blocks">

				{% for slice in slices_for_listing %}

					<div class="block">

						<a href="/catalog/{{slice.alias}}/">

							<img src="/images/slices/{{slice.image}}">
							<h3>{{slice.name}}</h3>

						</a>

					</div>

				{% endfor %}

			</div>

			<div class="big_block">
			
				<a href="/popular/">
					<img src="/images/index/listing_card_photo.svg">
					<div class="mobil_img"></div>
					<h3>Перейти ко всем залам</h3>
				</a>

			</div>

		</div>

		<div class="how_work_block">

			<h2>Как это работает</h2>

			<div class="how_work">
				<div class="ball_step">
					<div class="ball">
						<p>1</p>
					</div>
					<div class="ball_text">Подпись к иконке в две строки</div>
				</div>
				<div class="arrow_ball"></div>
				<div class="ball_step">
					<div class="ball">
						<p>2</p>
					</div>
					<div class="ball_text">Подпись к иконке в две строки</div>
				</div>
				<div class="arrow_ball two"></div>
				<div class="ball_step">
					<div class="ball">
						<p>3</p>
					</div>
					<div class="ball_text">Подпись к иконке в две строки</div>
				</div>

			</div>

		</div>

		<div class="bottom_text_index" id="mobile_but_all">Понтон на воде 400 м² с белым шатром 260 м². Вмещает до 180 постояльцев банкетной рассадкой. На территории понтона размещаются 2 маленькие веранды, которые уже входят в стоимость аренды, а на свободных от шатра углах устроилась мягкая мебель. Шатер оборудован барной стойкой со светодиодной подсветкой, необходимым для вечернего освещения количеством люстр, а на каждой стальной дуге вывешены световые «Пары». В случае непогоды по периметру заакрываются шторы, которые не пропускают воду и ветер, и предоставляются газовые и электронные обогреватели. Понтон содержит отдельный подъезд и личную парковку на 20 машиномест, собственно что выделяет ему превосходство перед другими площадками. Ресторан дает текстиль на столы и стулья и индивидуальные тканевые салфетки. Громкая музыка вероятна до 21:30, впоследствии лишь только в фоновом режиме.</div>
		<div class="mobile_button_text" id="butt_on"><span>Показать полностью</span></div>
		<div class="mobil_but_off" id="butt_off"><span>Скрыть текст</span></div>

	</div>

	<div class="content_block index_form">
		{{ this.render('//components/generic/form.twig') | raw }}
	</div>

</div>