<div class="filter_select">
	
	<div class="filter_select_block" data-type="{{label}}" data-filter-select-block>
         <p class="filter_label" data-filter-label>{{filter_item.name}}</p>
        <div class="filter_select_current" data-filter-select-current>
            <div class="close_x" data-filter-select-current-clean></div>
            {% if filter_item.active is not null %}
                {% if filter_item.active|length > 1 %}
                    <p></p>
                    <div class="quantity" data-quantity></div>
                {% else %}
                    <p>{{filter_item.items[filter_item.active|keys|first]}}</p>
                {% endif %}
            {% else %}
                <p class="filter_p" ></p>
                <div class="quantity _none" data-quantity></div>
            {% endif %}
        </div>
        <div class="filter_select_list">
        	{% for key,value in filter_item.items %}
        		<div class="filter_select_item {{filter_item.active[key] is defined ? '_active':''}}" data-value="{{key}}" data-filter-select-item><p>{{value}}</p></div>
        	{% endfor %}
        </div>
    </div>
</div>
