<div class="filter_select">
	
	<div class="filter_select_block" data-type="{{label}}" data-filter-select-block>

    <p class="filter_label" data-filter-label>{{filter_item.name}}</p>

    <div class="filter_select_list">

      {% set categoryKey = '' %}

      {% for key,value in filter_item.items %}

        {% if filter_item.name == 'Площадка' and (key == 1 or key == 4 or key == 10 or key == 11 or key == 16) %}

          {% if key == 10 %}

            <div class="filter_select_item _like_a_category {{filter_item.active[key] is defined ? '_active':''}}" data-value="{{key}}" data-filter-select-item><p>{{value}}</p></div>

          {% else %}

          {% set categoryKey = key %}

              <div class="filter_select_item {{filter_item.active[key] is defined ? '_active':''}}" data-value="{{key}}" data-filter-select-category><p>{{value}}</p></div>

          {% endif %}

        {% else %}

          <div class="filter_select_item {{filter_item.active[key] is defined ? '_active':''}}" data-value="{{key}}" data-filter-select-item data-category={{categoryKey}}><p>{{value}}</p></div>

        {% endif %}

      {% endfor %}

    </div>

    <div class="clean_this_filter" data-clean-mobile>
      <span>Сбросить</span>
    </div>

  </div>

</div>
